<?xml version="1.0"?>

<model>
  <name>htv_transfer_vehicle</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>TRACLabs Robotics</name>
    <email>robotics@traclabs.com</email>
  </author>

  <description>
    NASA model for H-II Transfer Vehicle
  </description>
</model>
